# package directories
node_modules
jspm_packages

# dependencies
/node_modules
package-lock.json
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
 public/
 lib/
 src/
 node_modules/
 build/
 types/
 cdk.out/
 cdk.json
 bin.ts
 stack.ts
 next-env.d.ts
 next.config.js
 package-lock.json
 package.json
 tsconfig.json
thunder-tests/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env 

# vercel
.vercel

**/debug.log