@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    @apply overflow-x-hidden transition ease-in-out duration-200 ;
    scrollbar-width: thin;

}

.instructions {
    @apply relative mt-4 rounded-lg bg-beige-50 p-4 text-sm font-medium text-red-600 shadow-lg transition duration-300 ease-in-out;
    transition-delay: 0.1s;
    visibility: visible;
    opacity: 1;
}

.offscreen {
    opacity: 0;
    @apply absolute -m-8 rounded-lg bg-beige-50 text-sm font-medium text-red-600 shadow-lg  transition duration-300 ease-in-out;
    transition: visibility 1s, opacity 0.5s linear;
    left: -9999px;
}

::-webkit-scrollbar {
    @apply mx-4 my-4 bg-beige-700;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    @apply bg-beige-300;
    border-radius: 8px;
}

.notificationWrapper {
  @apply flex flex-row items-center justify-between w-96 bg-gray-900 px-4 py-6 text-white shadow-2xl hover:shadow-none transform-gpu translate-y-0 hover:translate-y-1 rounded-xl relative transition-all duration-500 ease-in-out;
} 

.iconWrapper {
  @apply text-xl;
}

.contentWrapper {
  @apply flex flex-col items-start justify-center ml-4 cursor-default;
}

.contentWrapper h1 {
  @apply text-base text-gray-200 font-semibold leading-none tracking-wider;
}

.contentWrapper p {
  @apply text-sm text-gray-400 mt-2 leading-relaxed tracking-wider;
}

.closeIcon {
  @apply absolute top-2 right-2 cursor-pointer text-lg;
}

input[type='text'],
input[type='password'],
input[type='email'],
textarea {
    @apply block w-full appearance-none rounded-lg border-0 px-2 py-2 shadow-lg outline-0 outline-transparent;
}
label {
    margin-top: 1rem;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    @apply bg-red-200  text-red-700 transition ease-in-out duration-200 rounded-lg font-medium mb-4 p-3;
}
button:disabled,
button[disabled] {
    border: 0px solid #999999;
    background-color: #cccccc;
    color: #666666;
    @apply hover:bg-gray-300 transition ease-in-out duration-200 hover:cursor-not-allowed;
}
.line {
    display: inline-block;
}
