@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    @apply overflow-x-hidden transition duration-200 ease-in-out;
    scrollbar-width: thin;
}

.instructions {
    @apply relative mt-4 rounded-lg bg-beige-50 p-4 text-sm font-medium text-red-600 shadow-lg transition duration-300 ease-in-out;
    transition-delay: 0.1s;
    visibility: visible;
    opacity: 1;
}

.offscreen {
    opacity: 0;
    @apply absolute -m-8 rounded-lg bg-beige-50 text-sm font-medium text-red-600 shadow-lg  transition duration-300 ease-in-out;
    transition: visibility 1s, opacity 0.5s linear;
    left: -9999px;
}

::-webkit-scrollbar {
    @apply mx-4 my-4 bg-beige-700;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    @apply bg-beige-300;
    border-radius: 8px;
}

.notificationWrapper {
    @apply relative flex w-96 translate-y-0 transform-gpu flex-row items-center justify-between rounded-xl bg-gray-900 px-4 py-6 text-white shadow-2xl transition-all duration-500 ease-in-out hover:translate-y-1 hover:shadow-none;
}

.iconWrapper {
    @apply text-xl;
}

.contentWrapper {
    @apply ml-4 flex cursor-default flex-col items-start justify-center;
}

.contentWrapper h1 {
    @apply text-base font-semibold leading-none tracking-wider text-gray-200;
}

.contentWrapper p {
    @apply mt-2 text-sm leading-relaxed tracking-wider text-gray-400;
}

.closeIcon {
    @apply absolute top-2 right-2 cursor-pointer text-lg;
}

input[type='text'],
input[type='password'],
input[type='email'],
textarea {
    @apply block w-full appearance-none rounded-lg border-0 px-2 py-2 shadow-lg outline-0 outline-transparent;
}
label {
    margin-top: 1rem;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    @apply mb-4  rounded-lg bg-red-200 p-3 font-medium text-red-700 transition duration-200 ease-in-out;
}
button:disabled,
button[disabled] {
    border: 0px solid #999999;
    background-color: #cccccc;
    color: #666666;
    @apply transition duration-200 ease-in-out hover:cursor-not-allowed hover:bg-gray-300;
}
.line {
    display: inline-block;
}
