@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    @apply overflow-x-hidden;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    @apply bg-beige-800;
    width: 6px;
    height: 6px;
    border-radius: 8%;
}

::-webkit-scrollbar-thumb {
    @apply bg-beige-400;
    border-radius: 8%;
}
